body {
    /*background-image: url("../assets/repeatbackground.jpg");
    background-repeat: repeat;
    background-size: 200px 50px;*/
    background-color: black;
    padding: 0px;
    margin: 0px;
}
h1{
    padding:0px;
    margin: 0px;
    font-size:3vw;
}
.navContainer{
    position: absolute;
    left:14vw;
    top:0px;
    background: maroon;
    width: 100%;
    padding: 2px;
    min-height:5px;
    height:10vh;
    z-index: 1;
}
#navGraphic{
    position: relative;
    left: 0px;
    max-height: 10vh;
}
#menuIcon{
    position: relative;
    max-height: 10vh;
}
.centerContainer {
    background-image: url("../assets/bricksml.jpg");
    background-repeat: repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-left: 15%;
    /*height: 2000px;*/
    min-height: 100vh;
    width: 70%
}
.fighterBox{
    position: relative;
    margin-top: 15vh;
    margin-left:  5vw;
}
.fighterInfoTag{
    position: absolute;
    display:inline-block;
    color: white;
    height: 4vw;
    width: 70vw;
}
#nameContainer{
    top: 15%;
    right: 16%;
}
#secondContainer{
    top: 22%;
    right: 13%;
}
#thirdContainer{
    top: 29%;
    right: 14%;
}
#fourthContainer{
    top: 36%;
    right: 13%;
}
.leftFighterInfo{
    float:right;
    display:inline-block;
    text-align: right;
}
.rightFighterTag{
    float:right;
    display:inline-block;
    background:maroon;
    margin-left: 5px;
}
#fighterPicture{
    width:30%;
}
#loginContain{
    position: relative;
    margin-top: 20vh;
    margin-left: 2%;
}
.sideBanner {
    background-image: url("../assets/sidebarheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline;
    margin : 0px;
    min-width: 15%;
    /*max-width: 15%;*/
    height: 100%;
    border: 0px;
    /*padding: 25%;*/
    background-color: maroon;
    z-index: 2;
}
.verticalLogo {
    display:block;
    margin:auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    max-width: 50%;
}
#leftBanner {
    position: fixed;
    left: 0px;
}
#rightBanner {
    position: fixed;
    right: 0px;
}
.multiFighterList{
    position: relative;
    margin-top: 20vh;
    margin-left: 2%;
    max-width: 65vw;
    height:70vh;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
table th    {
    background-color: black;
    color: white;
}
#fightText{
    background:white;
    width: 66vw;
    height: 50vh;
}